{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


        {% csrf_token %}

    <div class="row justify-content-center" style="background-color: #343131;">
         <div class="col-md-1">
                </div>
            <div class="col-md-1">
            <img src="https://www.passline.com/imagenes/logo-passline.png" width="100%" height="50px"/>
                </div>
            <div class="col-md-5">


                </div>

         <div class="col-md-5">
            <a href="/" class="btn btn-dark" type="button" style="background-color: #343131;">Inicio</a>
                        <a href="/carshop" class="btn btn-dark" type="button" style="background-color: #343131;">Compra</a>
             <a href="/signup" class="btn btn-dark" type="button" style="background-color: #343131;">Registro</a>
               <a href="/login" class="btn btn-dark" type="button" style="background-color: #343131;">Iniciar sesión</a>



                </div>


            </div>




</div>






<br/>

                  <div class="col-sm-12">
         <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">id</th>
      <th scope="col">localidad</th>
        <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
   {% for boleta in boletascars %}
    <tr>
        <td>{{boleta.id}}</td>
      <td>{{boleta.localidad.name}}</td>
      <td>{{boleta.localidad.price}}</td>
        <td>
          <a href="{% url 'delete_boleta' id=boleta.id %}"><img src="{% static "img/trash.png" %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 2%;"></a></td>

    </tr>

{% endfor %}

    </div>
{% for carshop in carshop %}
        <form action="{% url 'process_payment' %}" method="POST">
            {% csrf_token %}
             <div class="col-sm-2">
                    <div class="d-flex justify-content-between mb-3">
                        <button class="btn btn-primary btn-block mt-5" type="submit" value="OK">Enviar</button>
                        <a >comprar</a>



                    </div>
             </div>
            </form>
{% endfor %}


 </div>

 <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXXvtzlLLe5NDpGIgl9gvAoH5dElePKYjk9DEVgC3xT5Mp-2EzoE8eMTthUt1CgP-zPCLbvF2Zx0F4Yz&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>


      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '0.1' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
             var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                  "status": "completado"
                });

                var requestOptions = {
                  method: 'POST',
                  headers: myHeaders,
                  body: raw,
                  redirect: 'follow'
                };

                fetch("http://127.0.0.1:8000/api/", requestOptions)
                  .then(response => response.text())
                  .then(result => console.log(result))
                  .catch(error => console.log('error', error));
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
    </script>
</body>
</html>