{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


        {% csrf_token %}

    <div class="row justify-content-center" style="background-color: #343131;">
         <div class="col-md-1">
                </div>
            <div class="col-md-1">
            <img src="https://www.passline.com/imagenes/logo-passline.png" width="100%" height="50px"/>
                </div>
            <div class="col-md-5">


                </div>

         <div class="col-md-5">
            <a href="/" class="btn btn-dark" type="button" style="background-color: #343131;">Inicio</a>
                        <a href="/carshop" class="btn btn-dark" type="button" style="background-color: #343131;">Compra</a>
             <a href="/signup" class="btn btn-dark" type="button" style="background-color: #343131;">Registro</a>
               <a href="/login" class="btn btn-dark" type="button" style="background-color: #343131;">Iniciar sesión</a>



                </div>


            </div>




</div>






<br/>

                  <div class="col-sm-12">
         <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">id</th>
      <th scope="col">localidad</th>
        <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
   {% for boleta in boletascars %}
    <tr>
        <td>{{boleta.id}}</td>
      <td>{{boleta.localidad.name}}</td>
      <td>{{boleta.localidad.price}}</td>
        <td>
          <a href="{% url 'delete_boleta' id=boleta.id %}">Delete</a></td>

    </tr>

{% endfor %}

    </div>

             <div class="col-sm-2">
                    <div class="d-flex justify-content-between mb-3">
                        <button class="btn btn-primary btn-block mt-5" type="submit" value="OK">COMPRAR</button>



                    </div>
             </div>



 </div>

</body>
</html>