{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


        {% csrf_token %}

    <div class="row justify-content-center" style="background-color: #343131;">
         <div class="col-md-1">
                </div>
            <div class="col-md-1">
            <img src="https://www.passline.com/imagenes/logo-passline.png" width="100%" height="50px"/>
                </div>
            <div class="col-md-5">


                </div>

         <div class="col-md-5">
            <a href="/" class="btn btn-dark" type="button" style="background-color: #343131;">Inicio</a>
                        <a href="/carshop" class="btn btn-dark" type="button" style="background-color: #343131;">Compra</a>
             <a href="/signup" class="btn btn-dark" type="button" style="background-color: #343131;">Registro</a>
               <a href="/login" class="btn btn-dark" type="button" style="background-color: #343131;">Iniciar sesión</a>



                </div>


            </div>




</div>




<br/>
</div>
          {% for evento in eventos %}
  <div class="col-sm-12">
     <div class="row ">
         <div class="col-sm-1">
             </div>
         <div class="col-sm-3">
             <div class="d-flex center-content-between mb-3">
                       <img src= "http://127.0.0.1:8000/media/{{evento.image}}" width="65%" />
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Categoría:</span>
                        <span class="mr-15 font-weight-bold">{{evento.category}}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Edad miníma sugerida:</span>
                        <span class="mr-15 font-weight-bold">{{evento.minimum_age}}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Acomodación:</span>
                        <span class="mr-15 font-weight-bold">{{evento.acomodacion}}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Venta de comida:</span>
                        <span class="mr-15 font-weight-bold">{{evento.ventacomida}}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Venta de licor:</span>
                        <span class="mr-15 font-weight-bold">{{evento.ventalicor}}</span>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Acceso a personas con movilidad reducidadr:</span>
                        <span class="mr-15 font-weight-bold">{{evento.accesodiscapacitados}}</span>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Acceso a embarazadas:</span>
                        <span class="mr-15 font-weight-bold">{{evento.accesoembarazadas}}</span>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">Venta de licor:</span>
                        <span class="mr-15 font-weight-bold">{{evento.ventalicor}}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/puntoventa/{{evento.id}}'"  >Punto de venta</button>

                         </div>
              <form action="{% url 'eventos' id=evento.id%}" method="POST">
        {% csrf_token %}
                          <div class="col-md-6">
               <tr><th><label for="localidad"><span class="mr-15 font-weight-bold">COMPRA DE BOLETAS:</span></label></th><td><select name="localidad" required id="localidad">
 {% for localidad in localidades%}


  <option value={{localidad.id}}>Localidad: {{localidad.name }} precio: {{ localidad.price }}</option>

{% endfor %}
</select></td></tr>
<input class="form-control"  type="number" placeholder="cantidad" name="cantidad" required="false" />
                   </div>

             <div class="d-flex justify-content-between mb-3">
                        <button class="btn btn-primary btn-block mt-5" type="submit" value="OK">Enviar</button>



                    </div>
             </div>
         </form>
         <div class="col-sm-1">
             </div>
          <div class="col-sm-7">
                    <div class="d-flex justify-content-between mb-3">
                        <h1><span class="mr-15 font-weight-bold">{{evento.title}}</span></h1>
                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <h3><span class="mr-15 font-weight-bold">{{evento.descripcion}}</span></h3>
                         </div>
              <div class="d-flex justify-content-between mb-3">
                        <h4><span class="mr-15 font-weight-bold">Localidades:</span></h4>
                         </div>
                              {% for localidad in localidades%}
                        <div class="d-flex justify-content-between mb-3">


                            <h6><span class="mr-15 font-weight-bold">Localidad: {{localidad.name }} precio: {{ localidad.price }}</span></h6>
                                <br/>

                         </div>
                               {% endfor %}
                         <div class="d-flex justify-content-between mb-3">
                        <h3><span class="mr-15 font-weight-bold">NO SE HACEN CAMBIOS DE LOCALIDAD, NI DE FECHA UNA VEZ COMPRADAS LAS ENTRADAS.</span></h3>

                         </div>
                         <div class="d-flex justify-content-between mb-3">
                        <h3><span class="mr-15 font-weight-bold">{{evento.lugar}}</span></h3>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                         <h6><span class="mr-15 font-weight-bold">{{evento.inicio}}</span></h6>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                        <h6><span class="mr-15 font-weight-bold">{{evento.final}}</span></h6>
                         </div>
                          <div class="d-flex justify-content-between mb-3">
                        <h3><span class="mr-15 font-weight-bold">{{evento.apertura}}</span></h3>
                         </div>


             </div>
         {% endfor %}


             <div class="col-sm-1">
             </div>
        <div class="col-sm-1">
             </div>
         <div class="col-sm-8">
         <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">localidad</th>
      <th scope="col">fechas</th>
      <th scope="col">capacidad</th>
      <th scope="col">etapa</th>
    </tr>
  </thead>
  <tbody>
   {% for localidad in localidades %}
    <tr>
      <td>{{localidad.name}}</td>
      <td>{{localidad.fecha}}</td>
      <td>{{localidad.capacity}}</td>
        <td>{{localidad.etapa}}</td>

    </tr>

{% endfor %}
    </div>
             <div class="col-sm-2">
             </div>
         </div>
      </div>




<div class="row justify-content-center" style="background-color: #3366CC;">
       <h3><span class="mr-15 font-weight-bold" style="color: #FFFFFF;">LOCALIDADES</span></h3>


</div>





 </div>

</body>
</html>