{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


        {% csrf_token %}



    <div class="row justify-content-center" style="background-color: #3366CC;">
            <div class="col-md-1">

                </div>
            <div class="col-md-2">
                        <a href="/" class="btn btn-light" role="button">INICIO</a>

                </div>
          <div class="col-md-2">
                        <a href="/nosotrosaseguradora" class="btn btn-light" role="button">NOSOTROS</a>

                </div>
         <div class="col-md-2">
                        <a href="/servicioaseguradora" class="btn btn-light" role="button">SERVICIOS</a>

                </div>
         <div class="col-md-2">
                      <a href="/transmision" class="btn btn-light" role="button">GALERÍA DE IMAGENES</a>

                </div>
        <div class="col-md-2">
                        <a href="/CONTACTANOS" class="btn btn-light" role="button">CONTACTANOS</a>

                </div>
         <div class="col-md-2">

                </div>
            </div>




</div>

            <div class="col-md-12">
                <div class="d-flex flex-column mb-10 mb-md-0">
         <img href= "https://latiquetera.com/site/suso-el-paspi" src="{% static "img/checkin.jpg" %}" width="100%" height="600px"/>
            </div>
    </div>


    <div class="row justify-content-center" style="background-color: #A19E9E;;">
        <br/>
</div>
<br/>



<br/>

  <div class="col-sm-12">
     <div class="row ">
         <div class="col-sm-2">
      </div>
           {% for boleta in boletas %}

            <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">
                <div class="d-flex center-content-between mb-3">
                       <img src= "media/{{evento.image}}" width="65%" />

                    </div>
                     <div class="col-md-9">
                          <h2 style="font-weight: bold">{{boleta.localidad.name}}</h2>
                    </div>

                    <div class="col-md-9">
                        <h4 >{{boleta.localidad.price}}</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-primary" onclick="location.href=''"  >Ver</button>

                    </div>
                </div>
            </div>
         {% endfor %}

</div>


<br/>

</div>


<div class="row justify-content-center" style="background-color: #0098D8;">
     <div class="col-sm-12">
     <div class="row ">

            <div class="col-md-3">
               <div class="d-flex flex-column mb-10 mb-md-0">


                    <div class="d-flex center-content-between mb-3">
                        <h4 >Información</h4>
                         </div>
                        <br/>
                    <div class="d-flex center-content-between mb-3">
                        <h4 >Contacto: Numero telefono</h4>

                         </div>



                </div>
            </div>
         <div class="col-md-3">
               <div class="d-flex flex-column mb-10 mb-md-0">


                    <div class="d-flex center-content-between mb-3">
                        <h4 >Contáctenos</h4>
                         </div>
                        <br/>
                    <div class="d-flex center-content-between mb-3">
                        <h4 >Contacto: Numero telefono</h4>

                         </div>



                </div>
            </div>
         <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">


                    <div class="d-flex center-content-between mb-3">
                        <h4 >Medios de pago</h4>
                         </div>
                        <br/>
                    <div class="d-flex center-content-between mb-3">
                        <h4 >Contacto: Numero telefono</h4>

                         </div>



                </div>
            </div>
          <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">


                    <div class="d-flex center-content-between mb-3">
                        <h4 >Boletín</h4>
                         </div>
                        <br/>
                    <div class="d-flex center-content-between mb-3">
                        <h4 >Contacto: Numero telefono</h4>

                         </div>



                </div>
            </div>


          </div>


</div>

</div>

<div class="row justify-content-center" style="background-color: #3366CC;">
        <br/>
        <br/>

</div>




 </div>

 </div>

</body>
</html>